/* Color Variables - START */
:root {
  --dark-color: #090f14;
  --light-color: #fefff7;
  --accent-color: #af3b6e;
  --primary-color: #89bbfe;
}
/* Color Variables - END */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: var(--dark-color);
  background-color: var(--dark-color);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3 {
  color: var(--dark-color);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

button {
  border-radius: 0.8rem;
  background-color: var(--accent-color);
  color: var(--light-color);
  transition: transform 0.3s;
  font-weight: bold;
  height: 4rem;
  width: 10rem;
  font-size: 1rem;
  margin: auto;
}
button:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-5px) scale(1.05);
}

@media (max-width: 600px) {
  button {
    width: 8rem;
    font-size: 0.8rem;
    height: 3rem;
  }
}

/* Scrollbar Styling - START */
*::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
/* Scrollbar Styling - END */
