.error-message {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(44, 66, 81, 0.2);
  color: var(--accent-color);
  text-align: center;
  background-color: var(--light-color);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 40rem;
}

.error-message__text {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .error-message {
    padding: 1.5rem;
    gap: 0.5rem;
  }

  .error-message__text {
    font-size: 1.2rem;
  }
}
