.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light-color);
  padding: 0.6rem 2rem;
  box-shadow: 0 4px 12px rgba(217, 223, 228, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
  cursor: pointer;

}

.header__logo-img {
  width: 40px;
  height: auto;
  margin-right: 0.5rem;
  transition: transform 0.3s;
}

.header__logo-title {
  font-size: 1.8rem;
  color: var(--dark-color);
  font-weight: bold;
}

.header__filter-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem;
}

.header__filter-label {
  color: var(--dark-color);
  font-weight: bold;
}

.header__filter-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.header__filter-icon {
  position: absolute;
  right: 0.75rem;
  color: var(--dark-color);
  pointer-events: none;
}

.header__filter-input {
  padding: 0.8rem 2.5rem 0.8rem 0.8rem;
  border: 3px solid transparent;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 4px 12px rgba(44, 66, 81, 0.15);
  width: 12.5rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.header__filter-input:focus {
  border: 3px solid var(--accent-color);
  outline: none;
}

.header__filter-input[aria-disabled="true"] {
  background-color: lightgray;
  color: #999;
  border: 2px solid gainsboro;
  cursor: not-allowed;
  opacity: 0.5;
}

.header__help-text {
  font-size: 0.8rem;
  color: var(--dark-color);
  margin-top: 0.5rem;
}

@media (max-width: 1024px) {
  .pokemon-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 80%;
    max-height: 80vh;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0.8rem 1rem;
  }

  .header__logo-title {
    display: none;
  }

  .header__filter-input {
    width: 10rem;
    padding: 0.5rem;
  }

  .header__filter-label {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.8rem 1rem;
  }

  .header__logo-title {
    display: none;
  }

  .header__filter-input {
    width: 10rem;
    padding: 0.5rem;
  }

  .header__filter-label {
    font-size: 0.8rem;
  }
}

@media (min-width: 330px) and (max-width: 768px) {
  .header {
    padding: 0.5rem;
  }
  .header__filter-label {
    font-size: 0.8rem;
  }
  .header__filter-input {
    padding: 0.5rem;
  }
  .header__help-text {
    font-size: 0.7rem;
  }
}
